.section{
    padding-bottom: 4rem;
}

.section__header{
    padding: 4rem;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBF8F1;
    font-size: 6rem;
}

.section__h2{
    font-family: 'Caveat', cursive;
}

.section__wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}